
<div class="task-board">
  <h1>Task Manager</h1>
  <select [(ngModel)]="selectedOption" (change)="onOptionChange()">
    <option value="all">All</option>
    <option value="frontEnd">FrontEnd</option>
    <option value="backEnd">BackEnd</option>
    <option value="design">Design</option>
    <option value="qa">QA</option>
  </select>
  <input type="text" placeholder="search by task name" [(ngModel)]="searchQuery" (input)="onSearchChange()">
  <button (click)="toggleFilterSection()">Filter</button>

  <button (click)="showMetrics()">Show Metrics</button>
</div>
<div class="filters" *ngIf="showFilterSection">
  <label for="assignee">Assignee:</label>
  <input type="text" placeholder="Search by Assignee" [(ngModel)]="assignee" (input)="filterByAssignee()">

  <label for="severity">Priority:</label>
  <select [(ngModel)]="severity" (change)="filterBySeverity()">
    <option value="allPriorities">All</option>
    <option value="High">High</option>
    <option value="Medium">Medium</option>
    <option value="Low">Low</option>
  </select>
  <label for="startDate">Start Date:</label>
  <input type="date" [(ngModel)]="startDate" (change)="filterByStartDate()">

  <label for="endDate">End Date:</label>
  <input type="date" [(ngModel)]="endDate" (change)="filterByEndDate()">

</div>
<app-task-group [tasks]="tasks"></app-task-group>