.task-board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(0, 31, 63);
}

select,
input,
button {
  margin-right: 10px;
  padding: 8px;
  border-radius: 5px;
}

h1{
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}
.filters {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input,
select {
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



@media screen and (max-width: 600px) {
  .task-board {
    flex-direction: column;
  }

  select,
  input,
  button {
    margin: 5px 0;
  }
}