<div draggable="true" *ngFor="let task of tasks" (dragstart)="onDragStart(task)">
    <div *ngIf="task.status === taskStatus">
        <div class="task">
            <div class="taskSummary">{{task.summary}}</div>
            <div class="labels">
                <span
                    [ngClass]="{'high-priority': task.priority === 'High', 'medium-priority': task.priority === 'Medium', 'low-priority': task.priority === 'Low'}">{{task.priority}}</span>
                <span class="assignee">{{task.assignee}}</span>
            </div>
        </div>
    </div>
</div>