.task {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 15px;
  cursor: pointer;
}

.labels {
  display: flex;
  justify-content: space-between;
}

.labels span {
  font-size: 12px;
}

.taskSummary {
  margin: 10px;
}

.high-priority,
.medium-priority,
.low-priority {
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 10px;
}

.high-priority {
  background-color: rgb(247, 128, 128);
}

.medium-priority {
  background-color: rgb(243, 195, 107);
}

.low-priority {
  background-color: rgb(145, 238, 145);
}