
<div class="task-list">
  <div class="task-card" (dragover)="onDragOver($event)" (drop)="onDrop($event, 'Ready')">
    <h3 style=" background-color: rgb(228, 147, 244)">Ready</h3>
    <span>Total Tasks: {{totalTasks.ready}} </span>
    <button>+</button>
    <app-task draggable="true" [tasks]="tasks" [taskStatus]="'Ready'" (curTask)="changecurTask($event)"></app-task>
  </div>

  <div class="task-card" (dragover)="onDragOver($event)" (drop)="onDrop($event, 'In Progress')">
    <h3 style=" background-color: rgb(72, 106, 89)">In Progress</h3>
    <span>Total Tasks: {{totalTasks.inProgress}}</span>
    <button>+</button>
    <app-task [tasks]="tasks" [taskStatus]="'In Progress'" (curTask)="changecurTask($event)"></app-task>
  </div>

  <div class="task-card" (dragover)="onDragOver($event)" (drop)="onDrop($event, 'Testing')">
    <h3 style=" background-color: rgb(228, 239, 145)">Testing</h3>
    <span>Total Tasks: {{totalTasks.testing}}</span>
    <button>+</button>
    <app-task [tasks]="tasks" [taskStatus]="'Testing'" (curTask)="changecurTask($event)"></app-task>
  </div>

  <div class="task-card" (dragover)="onDragOver($event)" (drop)="onDrop($event, 'Done')">
    <h3 style=" background-color: rgb(94, 69, 72)">Done</h3>
    <span>Total Tasks: {{totalTasks.done}}</span>
    <button>+</button>
    <app-task [tasks]="tasks" [taskStatus]="'Done'" (curTask)="changecurTask($event)"></app-task>
  </div>
</div>