.task-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* margin-top: 20px; */
  padding-top: 70px;
  background-color: rgb(245, 245, 245);
}

h3 {
  display: inline-block;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 15px;
  font-size: 0.9rem;
  font-weight: bold;
}

.task-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  width: 300px;
  min-height: 80vh;
  margin: 10px 10px;
  background-color: rgb(180, 216, 231);
}

.task-card span {
  margin: 20px;
}

button {
  padding: 8px;
  cursor: pointer;
}